<div class="container text-center">
    <div class="row">
        <div class="mb-3 col-4">
            <input type="login" class="form-control" id="loginControlInput1" placeholder="Login">
        </div>
        <div class="mb-3 col-4">
            <input type="senha" class="form-control" id="senhaControlInput1" placeholder="Senha">
        </div>
        <div class="mb-3 col-4">
            <div>
                <button type="loginButton" class="btn btn-primary">Login</button>
                <button type="cadastroButton" class="btn btn-primary">Novo cadastro</button>
            </div>
        </div>
    </div>
</div>
